<div class="recipe-attachment clearfix"> 
    <div class="r-c-content">
      <p>Choose Image.</p>
      <div class="recipe-img-choose">
          <img [src]="attachedImgEdit" alt="recipe" *ngIf="attachedImgEdit">
          <button class="btn btn-secondary recipe-image" type="button" (click)="openEdit(imgcontent)">Choose</button>
      </div>
    </div>
  </div><!--.publish-recipe -->
  
  <!-- ==========================================
      Modal Dialog - choose recipe image 
  =============================================== -->
  <ng-template #imgcontent let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Choose Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-12">
          <div class="row">
              <div class="recipe-img-container" *ngFor="let img of userImagesEdit | paginate: { itemsPerPage: itemsPerPageEdit, currentPage: p }; let i=index">
                  <img [src]="img" alt="image" class="img-fluid recipe-img" (click)="getAttachmentPathEdit(img); c('Close click')">
              </div>
              <div class="pagination-me" *ngIf="userImagesEdit.length > 7">
                  <pagination-controls
                      (pageChange)="p = $event"
                      previousLabel= ""
                      nextLabel=""
                  ></pagination-controls>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          <button type="button" class="btn btn-danger" (click)="getAttachmentPathEdit(''); c('Close click')">Remove</button>
      </div>
  </ng-template>