<input type="text" [(ngModel)]="filteredRecipes">
        <hr>
<table class="table table-striped">
    <thead class="thead-default">
        <tr>
            <th>#</th>
            <th>Recipe Name</th>
            <th>Recipe Content</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of recipesInfo; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ recipe.recipeName }}</td>
            <td [innerHTML]="recipe.recipeContent"></td>
        </tr>
    </tbody>
</table>