.account-body {
    position: relative;
    z-index: 1;
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
    .account-body {
        margin-left: 12.5%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .account-body {
        margin-left: 22.5%;
    }
}

@media screen and (min-width: 499px) and (max-width: 767px) {
    .account-body {
        margin-left: 25%;
    }
}