<div class="row">    
    <div class="col-md-9 col-sm-12">
        <div class="form-group">
            <label for="recipe-name">Title:</label>
            <input type="text" id="recipe-name" class="form-control" placeholder="Recipe Name" #recipeTitle [class.alert]="alertNotification">
        </div>
        <div class="form-group content"  #recipeContent [class.alertContent]="alertNotification">
            <label for="recipe-content">Content:</label>
            <textarea rows="15" class="add-new-recipe"></textarea>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="publish-recipe clearfix"> 
            <div class="p-r-content">
              <p>You can publish new recipe or cancel procedure.</p>
              <div class="button-groups">
                  <button class="btn btn-success" (click)="publishRecipe()">Publish</button>
                  <button class="btn btn-danger" (click)="cancelRecipe()">Cancel</button>
              </div>
            </div>
        </div><!-- .publish-recipe -->

        <div class="recipe-category">
            <app-categories></app-categories>
        </div><!-- .recipe-category -->

        <div class="recipe-attachment">
            <app-attached-image></app-attached-image>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        <div class="recipe-gallery">
            <app-recipe-gallery></app-recipe-gallery>
        </div>
    </div>
</div>