body {
    overflow-y: scroll;
    background-color: rgba(252, 252, 252, .9);
}
p {
    font-size: 14px;
}
.btn:hover {
    cursor: pointer;
}
button:disabled,
.btn.disabled,
.btn-primary.disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}
.modal-open .modal {
    top: 14%;
}
.ngx-pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.ngx-pagination {
    font-size: 17px;
}
.ngx-pagination .current {
    background-color: #34495e !important;
    opacity: .7;
}
.ngx-pagination li:hover a,
.ngx-pagination li:hover a {
    background-color: #34495e !important;
    opacity: .7 !important;
    color: #fff !important;
}
.ngx-pagination li.pagination-previous:hover a,
.ngx-pagination li.pagination-next:hover a  {
    background-color: transparent !important;
    color: #000 !important;
}
/* TinyMCE */
.mce-panel {
    padding-right: 1px !important;
}
.alertContent .mce-tinymce {
    border: 1px solid red;
}
/* Auto Complete */
input.completer-input {
    width: 100%;
    height: 35px !important;
    border: 1px solid rgba(189, 195, 199, 0.60);
    border-radius: 4px;
    padding-left: 7px;
}
/* Tooltip */
.hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.hover .hovertext {
    visibility: hidden;
    width: 120px;
    background-color: #34495e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%; left: -150%;
    font-size: 11.5px;
    padding: 10px;
    letter-spacing: .3px;
}
.hover .hovertext::after {
    content: "";
    position: absolute;
    top: 100%; left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.hover:hover .hovertext {
    visibility: visible;
}

/* Ratings (home page) */
span.rating,
span.rating.readonly  {
    background-color: rgba(252, 252, 252, .9);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
}
span.rating {
    box-shadow: 0px 2px 70px 0 #bdc3c7;
}
span.rating span i,
span.rating.readonly span i {
    color: #2c3e50;
    font-size: 27px;
}