body {
    overflow: scroll;
}
.btn:hover {
    cursor: pointer;
}
button:disabled,
.btn.disabled,
.btn-primary.disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}
.modal-open .modal {
    top: 14%;
}