<div class="row">
    <div class="col-md-6 col-lg-5 col-sm-12">
        <h4 class="text-left category-title">All Categories</h4>
        <p class="cat-desc">You can see all categories used for recipes. Also, you can edit category name or delete category.</p>
        <div class="search-category">
            <input [(ngModel)]="filteredCategories" class="form-control" placeholder="Search...">
        </div>
        <ul class="list-group" *ngIf="allCategories.length > 0; else noCategories">
            <li 
                class="list-group-item" 
                *ngFor="let category of allCategories | recipeFilter: filteredCategories:'categoryName' | paginate: { itemsPerPage: 7, currentPage: p }; let i=index" 
                [class.active]="choosedCat?._id == category._id"
            >
                <p class="category-name">
                    <a [routerLink]="['/account/recipes/categories', category._id]">
                        <span *ngIf="category._id == (catId | async); else notAsyncCategory" (click)="onActive(category, category._id)">{{ catName | async }}</span>
                        <ng-template #notAsyncCategory>
                            <span (click)="onActive(category, category._id)">{{ category.categoryName }}</span>
                        </ng-template>
                    </a>
                </p>
                <p class="category-recipes-number">
                    <a class="badge badge-default hover">
                        <span *ngIf="category._id == (catId | async); else notAsyncCategoryLength">{{ remainCategoryCount | async }}</span>
                        <ng-template #notAsyncCategoryLength>
                            <span>{{ category.categoryRecipe.length }}</span>
                        </ng-template>
                        
                        <i class="hovertext">Number of recipes</i>
                    </a>
                </p>
            </li>
        </ul>

        <ng-template #noCategories>
            <ul class="list-group">
                <li class="list-group-item">No Categories...</li>
            </ul>
        </ng-template>

        <ng-container *ngIf="filteredCategories && (allCategories | recipeFilter: filteredCategories:'categoryName').length === 0">
            <ul class="list-group">
                <li class="list-group-item">No matched criteria...</li>
            </ul>
        </ng-container>

        <div class="pagination-me" *ngIf="allCategories.length > 7">
            <pagination-controls
                (pageChange)="p = $event"
                previousLabel= ""
                nextLabel=""
            ></pagination-controls>
        </div>
    </div>
    

    <div class="col-md-5 col-lg-6 col-sm-12 offset-lg-1 offset-md-1 offset-sm-0 category-detail">
        <ng-container *ngIf="!choosedCat">
            <div class="alert alert-category not-selected-category">
                <h6>Choose category for editing...</h6>
            </div>
        </ng-container>
        <router-outlet></router-outlet>
    </div>

</div>