<div class="row">
    <div class="col-md-6 col-lg-5 col-sm-12">
      <h4 class="text-left category-title">All Categories</h4>
      <p class="cat-desc">You can see all categories used for recipes. Also, you can edit category name or delete category.</p>
      <ul class="list-group">
        <li 
            class="list-group-item" 
            *ngFor="let category of allCategories | paginate: { itemsPerPage: 7, currentPage: p }; let i=index" 
            [class.active]="category === choosedCat" 
        >
            <p class="category-name" 
            (click)="onActive(category, category._id)">
                <a [routerLink]="['/account/recipes/categories', category._id]">
                    <span>{{ category.categoryName }}</span>
                </a>
            </p>
            <p class="category-recipes-number">
                <a class="badge badge-default hover">
                    <span>{{ category.categoryRecipe.length }}</span>
                    <i class="hovertext">Number of recipes</i>
                </a>
            </p>
        </li>
        <div class="pagination-me">
            <pagination-controls
                (pageChange)="p = $event"
                previousLabel= ""
                nextLabel=""
            ></pagination-controls>
        </div>
      </ul>
    </div>
    

    <div class="col-md-5 col-lg-6 col-sm-12 offset-lg-1 offset-md-1 offset-sm-0 category-detail">
        <router-outlet></router-outlet>
    </div>

    <ng-template #notSelectedCat>
        <div class="col-md-5 col-lg-6 col-sm-12 offset-lg-1 offset-md-1 offset-sm-0 category-detail">
            <div class="alert alert-category">
                <h6>Choose category to edit.</h6>
            </div>
        </div>
    </ng-template>


</div>