.category-title {
    margin-bottom: 30px;
    font-size: 23px;
}
.cat-desc {
    font-size: 14px;
    margin-bottom: 30px;
}
.category-detail {
    margin-top: 50px;
}
.category-name,
.category-recipes-number {
    width: 50%;
    float: left;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}
.category-name {
    opacity: 1;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
}
.category-name a {
    text-decoration: none;
    color: #000;
}
.category-name:hover {
    cursor: pointer;
}
.category-name:first-letter {
    text-transform: uppercase;
}
.category-recipes-number {
    text-align: right;
}
.category-recipes-number a {
    padding: 7px 8px;
    font-size: 12.5px;
    color: #fff;
}
.category-recipes-number a:hover span {
    cursor: pointer;
}
.list-group-item.active {
    background-color: #34495e;
    border: none;
    opacity: .9;
}
.list-group-item.active a {
    background-color: #fff;
    color: #000;
}
.list-group-item.active .category-name a {
    background-color: #34495e;
    color: #fff;
}
.list-group-item.active .category-recipes-number a {
    position: relative;
    left: -2px;
}
/* Category Details */
.alert-category {
    background-color: rgba(236, 240, 241, 0.7);
    position: relative;
    top: 75px;
 }

.alert-category h6 {
    margin-bottom: 0;
    text-align: center;
}