<div class="alert alert-category" *ngIf="categoryInfo">
    <div class="form-group">
        <label for="categoryName" class="clearfix">Category Name</label>
        <input type="text" class="form-control" id="categoryName" placeholder="Category Name" [value]="categoryInfo.categoryName" #categName>
    </div>
    <div class="form-group">
        <p>Number of recipes: {{ categoryInfo.categoryRecipe.length }}.</p>
        <h5 *ngIf="categoryInfo.categoryRecipe.length > 0; else noRecipes">Recipes</h5>
        <ng-template #noRecipes>
            <h5>No recipes into this category.</h5>
        </ng-template>
        <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let recipe of categoryInfo.categoryRecipe">
                <a [routerLink]="['/account/recipes/edit/', recipe._id]">
                    <span class="recipe-name">{{ recipe.recipeName }}</span>
                </a>
                <span class="badge badge-danger badge-pill delete-recipe-from-category" (click)="removeRecipe(categoryInfo._id, recipe._id, categName.value)">x</span>
            </li>
        </ul>
    </div>
    <div class="category-button-group clearfix">
        <button type="button" class="btn category-btn pull-left" (click)="updateCategoryTitle(categName.value)">Save</button>
        <button type="button" class="btn btn-danger pull-right delete-category" (click)="deleteCategory(categoryInfo._id, categoryInfo.categoryRecipe)">
            <i aria-hidden="true" class="fa fa-trash"></i> Delete
        </button>
    </div>
</div>