<div class="widget popular-recipes clearfix">
    <h5 class="text-left widget-title">Popular Recipes</h5>
    <ul class="list-group">
        <li class="list-group-item justify-content-between" *ngFor="let recipe of popularRecipes">
            <div class="popular-recipes-img-container">
                <img [src]="recipe.recipeImage ? recipe.recipeImage : './images/recipe-logo.png'" class="img-responsive recipe-widget" alt="recipe">
            </div>
            <a class="text-center recipe-name-img-widget">{{ recipe.recipeName }}</a>
        </li>
    </ul>
</div><!-- .popular-recipes -->     