<div class="row">    
    <div class="col-sm-12">
        <h4 class="text-left">Recipes <button class="btn btn-secondary new-recipe" [routerLink]="['/account/recipes/new']">New</button></h4>
        <div class="recipes-table-container">
            <div class="search col-md-4 col-sm-6 col-xs-12">
                <input [(ngModel)]="filteredRecipes" class="form-control" placeholder="Search...">
            </div>

            <ul class="nav col-md-6 col-sm-12 recipe-types">
                <li class="nav-item">
                    <a class="nav-link active-recipes" [class.active]="activeRecipes" (click)="activeRecipeList()">Active Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link trash-recipes" [class.active]="trashRecipes" (click)="activeRecipeList()"><i class="fa fa-trash" aria-hidden="true"></i> Trash</a>
                </li>
            </ul>
            
            <table class="table table-bordered recipes-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipe Title</th>
                        <th>Category</th>
                        <th>Comments</th>
                        <th>Avg. Rarting</th>
                        <th>Status</th>
                        <th>Publish Time</th>
                    </tr>
                </thead>
                <tbody *ngIf="recipesInfo.length > 0; else noRecipes">
                    <tr *ngFor="let recipeInfo of recipesInfo | recipeFilter: filteredRecipes | paginate: { itemsPerPage: recipesPerPage, currentPage: currentRecipePage }; let i = index">
                        <th scope="row">{{  (currentRecipePage - 1) * recipesPerPage + i + 1 }}</th>
                        <td>
                            {{ recipeInfo.recipeName }}
                            <p>
                                <span class="trash" (click)="moveToTrash(recipeInfo._id, recipeInfo.recipeDeleted)">{{  recipeInfo.recipeDeleted ? 'Restore' : 'Delete' }}</span>
                                <span class="separator">|</span>
                                <a [routerLink]="['/account/recipes/edit/', recipeInfo._id]"><span class="edit">Edit</span></a>
                            </p>
                        </td>
                        <td>
                            <p *ngIf="recipeInfo.recipeCategories.length > 0">
                                <span *ngFor="let category of recipeInfo.recipeCategories">{{ category.categoryName }}, </span>
                            </p>   
                            <p *ngIf="recipeInfo.recipeCategories.length === 0">
                                <span>No categories</span>
                            </p>          
                        </td>
                        <td>
                            <p>
                            <span>{{ recipeInfo.recipeComments.length > 0 ? recipeInfo.recipeComments.length : 'No ' }} comments</span>
                            </p>
                        </td>
                        <td>
                            <rating 
                                [(ngModel)]="starsCount"
                                [float]="true"
                                [readonly]="true"
                            >
                            </rating>
                            <p>{{ recipeInfo.recipeRating.length > 0 ? starsCount/recipeInfo.recipeRating.length : 'No voters' }}</p>
                        </td>
                        <td>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [checked]="recipeInfo.recipePublish" (change)="recipeInfo.recipePublish = !recipeInfo.recipePublish" (click)="updatePublishRecipeStatus(recipeInfo._id, recipeInfo.recipePublish)">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{ recipeInfo.recipePublish ? 'Published' : 'Unpublished'}}</span>
                            </label>
                        </td>
                        <td>
                            <p>{{ recipeInfo.dateCreated | timeAgo }}</p>
                            <p><small>{{ recipeInfo.dateCreated | date: 'shortDate' }}</small></p>
                        </td>
                    </tr>
                </tbody>

                <ng-container *ngIf="filteredRecipes.length > 0 && (recipesInfo | recipeFilter: filteredRecipes).length === 0">
                    <tbody>
                        <tr>
                            <td colspan="7"><h4 class="text-center no-recipes">No Matched Recipes...</h4></td>
                        </tr>
                    <tbody>
                </ng-container>
                <ng-template #noRecipes>
                    <tbody>
                        <tr>
                            <td colspan="7"><h4 class="text-center no-recipes">No Recipes</h4></td>
                        </tr>
                    <tbody>
                </ng-template>

            </table>
            <div class="pagination-me" *ngIf="recipesInfo.length > 5">
                <pagination-controls
                    (pageChange)="p = $event; recipePageChange(p)"
                    previousLabel= ""
                    nextLabel=""
                ></pagination-controls>
            </div>
        </div>
    </div>
</div>
