.recipes-table-container {
    max-width: 1200px;
}
.recipes-table {
    margin-bottom: 40px;
}
.search {
    margin-bottom: 20px;
    margin-left: -15px;
}
.search input {
    font-size: 14px;
}
.recipe-types {
    list-style: none;  
    padding: 0;
    margin: 20px 0 10px 0;
}
.nav-link {
    width: 120px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
}
.nav-link:hover {
    cursor: pointer;
}
.nav-link.active:first-child {
    color: #fff;
    font-weight: 600;
}
.nav-link.active:hover {
    color: #fff;
}
.active-recipes.active {
    background-color: #34495e;
}
.trash-recipes.active {
    background-color: #c0392b;   
}
h4 {
    margin-bottom: 40px;
}
.no-recipes {
    padding: 20px;
    margin: 0 auto;
}
th{
    vertical-align: middle;
}
th[scope="row"],
thead th:first-of-type  {
    text-align: center;
}
td {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    vertical-align: middle;
    min-width: 140px;
    max-width: 200px;
    padding-top: 0;
    padding-bottom: 0;
}
td:nth-of-type(4) {
    width: 170px;
}
td:last-of-type {
    width: 100px;
}
span {
    position: relative;
    top: 10px;
    font-size: 13px;
    margin-top: 15px;
}
.trash {
    color: #c0392b;
}
.edit {
    color: #34495e;   
}
.trash:hover,
.edit:hover {
    cursor: pointer;
}
.separator {
    margin-left: 3px;
    margin-right: 3px;
}
.custom-checkbox {
    width: 140px;
}
.custom-checkbox span {
    margin-left: 5px;
}
.custom-control {
    top: -10px;
}


@media screen and (max-width: 320px) {
    .recipes-table-container {
        max-width: 240px;
        overflow-x: scroll;
    }
}
@media screen and (min-width: 321px) and (max-width: 520px) {
    .recipes-table-container {
        max-width: 340px;
        overflow-x: scroll;
    }
}
@media screen and (min-width: 521px) and (max-width: 767px) {
    .recipes-table-container {
        max-width: 600px;
        overflow-x: scroll;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .recipes-table-container {        
        position: relative;
        left: -50px;
        overflow-x: scroll;
    }
}