<div class="container">
  <div class="row images-container">
        <h4>All Images</h4>
        <div class="col-md-12">
            <div class="row">
                <div class="card media-images" *ngFor="let img of imagesInfo | async | paginate: { itemsPerPage: 8, currentPage: p }; let i = index">
                    <img class="card-img-top" [src]="img.imagePath" alt="uploaded-image">
                    <div class="card-block">
                        <h4 class="card-title text-left">{{ img.imageName }}</h4>
                        <button class="btn btn-secondary image-details" type="button" data-target="imageContent" (click)="open(imageContent, img._id, img.imagePath, img.imageName, img.newImageName)">Details</button>
                    </div>
                </div>
            </div>

            <div class="pagination-me" *ngIf="(imagesInfoLength | async) > 0">
                <pagination-controls
                    (pageChange)="p = $event"
                    previousLabel= ""
                    nextLabel=""
                ></pagination-controls>
            </div>
        </div>
    </div>
</div>


<!-- ===================================
    Modal Dialog - Image Details
======================================== -->
<ng-template #imageContent let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <img [src]="img" alt="image" class="img-fluid">
        <p>Image Name: <span><strong>{{ imgName }}</strong></span></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="deleteImage(imgId, newImgName); c('Close click')" data-dismiss="imageContent">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
