<div class="widget popular-authors clearfix">
    <h5 class="text-left widget-title">Popular Authors</h5>
    <div class="d-inline-block">
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
        <a><img src="http://localhost:3000/images/avatar-profile.png" class="author-profile" alt="author"></a>
    </div>
</div><!-- .popular-authors -->