<div class="widget recent-recipes clearfix">
    <h5 class="text-left widget-title">Recent Recipes</h5>
    <ul class="list-group">
        <ng-container *ngFor="let recipe of recentRecipes; let i=index">
            <li class="list-group-item" *ngIf="i<4">
                <img [src]="recipe.recipeImage ? recipe.recipeImage : 'http://localhost:3000/images/recipe-logo.png'" class="recent-recipes-img img-responsive" alt="recipe">
                <a>{{ recipe.recipeName }}</a>
            </li>
        </ng-container>
    </ul>
</div><!-- .recent-recipes -->