<nav class="vertical-nav-left clearfix" *ngIf="showVerticalNavbar; else hideNavbar">    
	<div class="left-bigger-menu">
        <span class="show-hide-navbar" (click)="showVerticalNavbar = !showVerticalNavbar"><i class="fa fa-chevron-right"></i></span>
        <div class="logged-info">
            <img [src]="(profileImage | async) === '/images/avatar-profile.png' ? '/images/user-avatar.png' : (profileImage | async)" class="user-image" alt="Profile Image" *ngIf="profileImage | async; else profileImgWithoutRedux" onError="this.src='/images/user-avatar.png'">
            <ng-template #profileImgWithoutRedux>
                <img [src]="profileImg === '/images/avatar-profile.png' || profileImg === '' ? '/images/user-avatar.png' : profileImg" class="user-image" onError="this.src='/images/user-avatar.png'">
            </ng-template>
            
            <span class="user-logged-account" *ngIf="profileEmail | async else profileEmailWithoutRedux">
                {{ profileEmail | async }} <i class="icon-arrow-right"></i>
            </span>
            <ng-template #profileEmailWithoutRedux>
                <span class="user-logged-account">
                    {{ userEmail }} <i class="icon-arrow-right"></i>
                </span>
            </ng-template>
        </div>
		<ul class="list-group navigation-group">
            <li class="navigation-elements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/account']"><i class="fa fa-user-o"></i> <span class="list-name">User Info</span></a>
            </li>
            <li class="navigation-elements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/account/media']"><i class="fa fa-picture-o"></i> <span class="list-name">Media</span> 
                    <span class="badge badge-default badge-pill" *ngIf="(imagesInfoLength | async) > 0; else withoutRedux">{{ imagesInfoLength | async }}</span>
                    <ng-template #withoutRedux>
                        <span class="badge badge-default badge-pill" *ngIf="imgInfoLength > 0">{{ imgInfoLength }}</span>
                    </ng-template>
                </a> 
            </li>
            <li class="navigation-elements" *ngIf="canManageRecipe">
                <a><i class="fa fa-book"></i> <span class="list-name" (click)="showSubmenu = !showSubmenu">Recipes <i class="fa" [class.fa-chevron-down]="showSubmenu" [class.fa-chevron-up]="!showSubmenu"></i></span></a>
                <ul class="navigation-group" *ngIf="showSubmenu">
                    <li class="navigation-subelements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/account/recipes/new']"><i class="fa fa-plus-square-o"></i> <span class="list-name">Add New</span></a>
                    </li>
                    <li class="navigation-subelements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/account/recipes/edit']" [class.navbar-active]="activeElement"><i class="fa fa-pencil-square-o"></i> <span class="list-name">Edit</span></a>
                    </li>
                    <li class="navigation-subelements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/account/recipes/categories']" [class.navbar-active]="activeCategoryElement"><i class="fa fa-link"></i> <span class="list-name">Category</span></a>
                    </li>
                </ul>
            </li>
            <li class="navigation-elements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/account/comments']"><i class="fa fa-comments-o"></i> <span class="list-name">Comments</span> <span class="badge badge-default badge-pill">23</span></a>
            </li>
            <li class="navigation-elements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/account/ratings']"><i class="fa fa-star-o"></i> <span class="list-name">Ratings</span></a>
            </li> 
            <li class="navigation-elements" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/account/orders']"><i class="fa fa-shopping-cart"></i> <span class="list-name">Orders</span></a>
            </li>
            <li class="navigation-elements creator-role" *ngIf="!canManageRecipe">
                <a (click)="makeMeCreator()"><i class="fa fa-user-plus" aria-hidden="true"></i> <span>Give me a creator role</span></a>
            </li>
        </ul>

	</div><!-- .left-bigger-menu -->
</nav><!-- .vertical-nav-left -->

<ng-template #hideNavbar>
    <nav class="vertical-nav-left clearfix"> 
        <div class="left-bigger-menu hideMenu">
            <span class="show-hide-navbar" (click)="showVerticalNavbar = !showVerticalNavbar" [class.hideNavbar]="!showVerticalNavbar"><i class="fa fa-chevron-left"></i></span>
        </div>
    </nav>
</ng-template>