/*======================================
	Application Content
________________________________________
	0. Basic Style
	1. Bigger Left Menu (Vertically)
	2. Smaller Devices
========================================*/
		

/*====================
	0. Basic Style
======================*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}
body {
	text-rendering: optimizeLegibility;
	word-break: break-word;
	overflow-y: scroll;
	min-height: 100%;
	font-family: "Proxima Nova", sans-serif;
	color: #606060;
	margin: 0;
}

h1 {
    font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4{
    font-size: 24px;
}
h5{
	font-size: 18px;
}
h6 {
    font-size: 14px;
}
p {
	font-size: 14px;
	color: #606060;
}
a {
	text-decoration: none;
	color: #ffffff;
}
a:hover {
	text-decoration: none;
}

.vertical-nav-left {
	position: fixed;
	max-width: 305px;
	height: 100% !important;
    z-index: 100;
    left: 0; top: 0;
}
.left-bigger-menu {
	z-index: -1;
	width: 201px;
	background-color: #34495e;
	position: relative;
	overflow-y: scroll;
	max-height: 100%;
	height: 100% !important;
}
.left-bigger-menu.hideMenu {
	width: 40px;
	background-color: transparent;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.active > a {
	background: transparent !important;
	border-left: 4px solid #ffffff;
	text-indent: -4px;
}


/*======================================
	1. Bigger Left Menu (Vertically)
========================================*/
.left-bigger-menu {
	padding-top: 55px;
}
.show-hide-navbar {
    top: 18px;
    position: absolute;
    top: 3px; right: 3px;
    padding: 6px 11px 6px 12px;
    font-size: 15px;
    color: #000;
    background-color: #bdc3c7;
}
.show-hide-navbar:hover {
    cursor: pointer;
}
.logged-info {
	margin-top: 20px;
    margin-bottom: 20px;
	position: relative;
	left: -7px;
	text-align: center;
}
.user-image {
    width: 40px;
	margin: auto;
	display: block;
	position: relative;
	top: -14px;
}
.logged-info span {
    color: #fff;
    font-size: 12px;
    opacity: .8;
}
.navigation-elements {
    padding: 5px 15px;
    color: #fff;
    margin-top: 7px;
}
.navigation-elements.active a,
.navigation-subelements.active a {
	border-left: 4px solid transparent;
	color: #f1c40f;
}
.navigation-elements.active a span.badge {
	padding-left: 11px;
}
.navigation-elements a span:not(.badge),
.navigation-elements a i {
	-webkit-transition: color .15s;
	-moz-transition: color .15s;
	-ms-transition: color .15s;
	-o-transition: color .15s;
	transition: color .15s;
}
.navigation-elements a:hover span:not(.badge),
.navigation-elements a:hover i {
    cursor: pointer;
	color: #f1c40f;
}
.navigation-elements i {
    margin-right: 10px;
    font-size: 15px;
}

.list-name i.fa-chevron-up,
.list-name i.fa-chevron-down {
	padding-left: 4px;
	font-size: 12px;
	position: relative;
	top: -2px;
}
.navigation-subelements {
    list-style: none;
    padding-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    margin-left: -23px;
}
.badge {
    background-color: #7f8c8d;
    position: relative;
    top: -7px; left: 3px;
}


/*=================================
	2. Smaller Devices
===================================*/
@media screen and (max-width: 320px){
	.logo-circle {
		font-size: 9px;
	}
	.small-nav-bottom-elements {
		height: 44px;
	}
	/* Bigger left menu */
	.left-bigger-menu {
		width: 200px;
	}
}

@media screen and (min-width: 321px) and (max-width: 500px){
	/* Bigger left menu */
	.left-bigger-menu {
		width: 220px;
	}
}
@media screen and (max-width: 1580px){ 
	.vertical-nav-left {
		top: 80px;
	}
}
@media screen and (min-width: 1581px) {

}