<div class="container" (scroll)="onScroll($event)">
    <span id="pageTop"></span>
    <div class="row header">
        <app-header></app-header>
    </div>

    <router-outlet></router-outlet>


    <footer [class.default]="!isUserLoggedIn()" [class.hide]="isUserLoggedIn()">    
        <p class="alert alert-success" *ngIf="isUserLoggedIn()">
                <span>You are logged in!</span> 
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </p>
    </footer>

</div>

<div class="updated" [class.hide]="isActive">
    <p class="alert alert-success">
        <span>{{ message }}</span> 
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    </p>
</div>

<span pageScroll  [style.opacity]="displaySmoothScrollBar ? '.7' : '0'" [style.visibility]="displaySmoothScrollBar ? 'visible' : 'hidden'"  href="#pageTop" id="scroll-to-top" [pageScrollOffset]="700" [pageScrollDuration]="777" ><i class="fa fa-arrow-up" aria-hidden="true"></i></span>

<app-navbar *ngIf="isUserLoggedIn()"></app-navbar>
<app-errors></app-errors>