<div class="container">
    <div class="row header">
        <app-header></app-header>
    </div>

    <router-outlet></router-outlet>


    <footer [class.default]="!isUserLoggedIn()" [class.hide]="isUserLoggedIn()">    
        <p class="alert alert-success" *ngIf="isUserLoggedIn()">
                <span>You are logged in!</span> 
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        </p>
    </footer>

</div>

<div class="updated" [class.hide]="isActive">
    <p class="alert alert-success">
        <span>{{ message }}</span> 
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
    </p>
</div>

<app-navbar *ngIf="isUserLoggedIn()"></app-navbar>
<app-errors></app-errors>