nav {
    height: 80px;
    margin-bottom: 70px;
    z-index: 100;
    max-width: 1180px;
    margin: auto;
}
.navbar-header {
    height: 78px;
}
.navbar-brand,
img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    padding-right: 20px;
}
.navbar-toggle {
    margin-top: 0;
    top: 25%;
}
.navbar-collapse.in {
    background-color: #f8f8f8;
    position: relative;
    z-index: 1;
}
.navbar-nav li.active a {
    background-color: transparent;
    font-weight: 600;
}
.navbar-nav li a {
    color: #34495e;
    font-weight: 400;
    -webkit-transition: all .2s;
    transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 20px;
}
.navbar-collapse {
    background-color: #bdc3c7;
    z-index: 100;
}
.bg-faded {
    background-color: #bdc3c7;
    z-index: 101;
}
@media screen and (max-width: 1580px) {
	nav[_ngcontent-c1] {
		width: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 991px) {
    .navbar-collapse {
        top: 10px;
        padding-left: 5%;
        position: relative;
        margin-left: -16px;
        width: calc(100% + 32px);
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-top: 12px;
    }
}