#edit-user-info-form {
    margin-bottom: 100px;
}
#profile-image-form {
    display: none;
}
.user-info-title {
    margin-bottom: 20px;
}
.last-update {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}
.update-btn {
    margin-top: 30px;
    cursor: pointer;
    background-color: #34495e;
    color: #fff;
    opacity: .8;
    font-size: 14px;
}
.update-btn:disabled {
    cursor: not-allowed;
}
.edit-profile-image {
    margin-left: 10%;
}
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
    border: 1px solid #e74c3c;
    background-color: #f1c40f;
    color: #000;
}
input.ng-valid.ng-touched {
    border: 1px solid #2ecc71;
}
.help-message {
    color: #e74c3c;
}
img {
    max-width: 100%;
    min-height: 100%;
}
.save-profile-image {
    background-color: #34495e;
    color: #fff;
    opacity: .8;
    border: 1px solid #34495e;
}
.save-profile-image:hover {
    opacity: 1;
}
.profile-img-container {
    width: 22%;
    margin-left: 1.5%;
    margin-right: .5%;
    padding: 10px;
}
.profile-image,
.profile-img {
    width: 140px;
    height: 140px;
    object-fit: fill;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.profile-img:hover {
    cursor: pointer;
    opacity: .7;
    background-color: rgba(189, 195, 199, 1.0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .profile-img-container {
        width: 28%;
        margin-left: 2.66%;
        margin-right: 2.66%;
    }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
    .profile-img-container {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media screen and (max-width: 449px) {
    .profile-img-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}


/*===========================
    Key Frames
=============================*/
@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    84% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.updated {
    opacity: 0;
    position: fixed;
    top: 14%; left: 0; right: 0;
    justify-content: center;
    margin-top: 40px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.updated p {
    top: -20px;
}
.updated span {
    position: relative;
    top: -5px;
}
.updated i {
    margin-left: 15px;
    font-size: 34px;
}
.updated.hide {
    -webkit-animation: fadeInOut 5s;
    animation: fadeInOut 5s;
    opacity: 0;
}