<div class="col-md-8 col-xs-12">
    <h3 class="text-left user-info-title"><i class="fa fa-user" aria-hidden="true"></i> Update User Info</h3>
    <form id="edit-user-info-form"  [formGroup]="editUserForm" (ngSubmit)="updateUserInfo()" *ngIf="userInformation" >
        <div class="form-group">
            <p><label>Profile Image</label></p>
            <div>
                <img [src]="userInformation.profileImage != '' ? userInformation.profileImage : '/images/avatar-profile.png'" alt="Profile image">
                <button class="btn btn-secondary edit-profile-image" type="button" (click)="open(content)">Choose</button>
            </div>
        </div>
        <div class="form-group">
            <label for="editFirstName">First Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="editFirstName" 
                placeholder="First Name"
                formControlName="editFirstName"
            >
        </div>
        <div class="form-group">
            <label for="editLastName">Last Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="editLastName" 
                placeholder="Last Name"
                formControlName="editLastName"
            >
        </div>
        <div class="form-group">
            <label for="editEmail">E-mail</label>
            <input 
                type="email" 
                class="form-control" 
                id="editEmail"
                placeholder="E-mail"
                formControlName="editEmail"
            >
            <small class="form-text text-muted">* We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="usernameBlocked">Username</label>
            <input 
                type="text" 
                class="form-control" 
                id="usernameBlocked"
                formControlName="editUsername"
            >
            <small class="form-text text-muted">You can't change your username here.</small>
        </div>
        <div class="form-group">
            <label for="editAddress">Address</label>
            <input 
                type="text" 
                class="form-control" 
                id="editAddress" 
                placeholder="Address"
                formControlName="editAddress"
            >
        </div>
        <button type="submit" class="btn update-btn" [disabled]="!editUserForm.valid">Update</button>
    </form>
</div>

<!-- ==========================================
    Modal Dialog - choose profile image 
=============================================== -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>