#edit-user-info-form {
    margin-bottom: 100px;
}
.user-info-title {
    margin-bottom: 20px;
}
.last-update {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}
.update-btn {
    margin-top: 30px;
    cursor: pointer;
    background-color: #34495e;
    color: #fff;
    opacity: .8;
    font-size: 14px;
}
.update-btn:disabled {
    cursor: not-allowed;
}
.edit-profile-image {
    margin-left: 10%;
}
input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
    border: 1px solid #e74c3c;
    background-color: #f1c40f;
    color: #000;
}
input.ng-valid.ng-touched {
    border: 1px solid #2ecc71;
}
.help-message {
    color: #e74c3c;
}