<div class="col-md-8 col-xs-12">
    <h3 class="text-left user-info-title"><i class="fa fa-user" aria-hidden="true"></i> Update User Info</h3>

    <form id="edit-user-info-form"  [formGroup]="editUserForm" (ngSubmit)="updateUserInfo()" *ngIf="userInformation" >
        <p class="last-update"><i class="fa fa-pencil" aria-hidden="true"></i> Last update: <strong>{{ userInformation.dateUpdated | timeAgo }}</strong>.</p>
        <div class="form-group">
            <p><label>Profile Image</label></p>
            <div>
                <img [src]="(profileImage | async) ? (profileImage | async) : userInformation.profileImage" class="profile-image" onError="this.src='/images/avatar-profile.png'" [hidden]="selectedImg">
                
                <img [src]="selectedImg" alt="Profile image" class="profile-image" *ngIf="selectedImg">
                
                <button class="btn btn-secondary edit-profile-image" type="button" (click)="open(content)">Choose</button>
            </div>
        </div>
        <div class="form-group" id="profile-image-form">
            <label for="editFirstName">Image</label>
            <input 
                type="text" 
                class="form-control" 
                id="editProfileImage" 
                placeholder="Profile Image"
                formControlName="editProfileImage"
                [ngModel]="selectedImg ? selectedImg : profileImg"
            >
        </div>
        <div class="form-group">
            <label for="editFirstName">First Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="editFirstName" 
                placeholder="First Name"
                formControlName="editFirstName"
            >
            <p *ngIf="!editUserForm.get('editFirstName').valid && editUserForm.get('editFirstName').dirty">
                <i class="fa fa-times"></i>
                <span class="help-message" *ngIf="editUserForm.get('editFirstName').errors['required']">Please insert your name.</span>
                <span class="help-message" *ngIf="editUserForm.get('editFirstName').errors['pattern']">Please avoid special characters.</span>
                <span class="help-message" *ngIf="editUserForm.get('editFirstName').value?.length < 2">Minimum number of characters is 2.</span>
            </p> 
        </div>
        <div class="form-group">
            <label for="editLastName">Last Name</label>
            <input 
                type="text" 
                class="form-control" 
                id="editLastName" 
                placeholder="Last Name"
                formControlName="editLastName"
            >
            <p *ngIf="!editUserForm.get('editLastName').valid && editUserForm.get('editLastName').dirty">
                <i class="fa fa-times"></i>
                <span class="help-message" *ngIf="editUserForm.get('editLastName').errors['required']">Please insert your last name.</span>
                <span class="help-message" *ngIf="editUserForm.get('editLastName').errors['pattern']">Please avoid special characters.</span>
                <span class="help-message" *ngIf="editUserForm.get('editLastName').value?.length < 2">Minimum number of characters is 2.</span>
            </p> 
        </div>
        <div class="form-group">
            <label for="editEmail">E-mail</label>
            <input 
                type="email" 
                class="form-control" 
                id="editEmail"
                placeholder="E-mail"
                formControlName="editEmail"
            >
            <small class="form-text text-muted">* We'll never share your email with anyone else.</small>
            <p *ngIf="!editUserForm.get('editEmail').valid && editUserForm.get('editEmail').dirty">
                <i class="fa fa-times"></i>
                <span class="help-message" *ngIf="editUserForm.get('editEmail').errors['required']">Please insert your e-mail.</span>
                <span class="help-message" *ngIf="editUserForm.get('editEmail').errors['pattern']">Please avoid special characters.</span>
                <span class="help-message" *ngIf="editUserForm.get('editEmail').errors['email']">Input must be e-mail.</span>
                <span class="help-message" *ngIf="editUserForm.get('editEmail').errors['ReservedEmail']">E-mail <strong>"{{ editUserForm.get('editEmail').value }}"</strong> is reserved.</span>
            </p> 
        </div>
        <div class="form-group">
            <label for="usernameBlocked">Username</label>
            <input 
                type="text" 
                class="form-control" 
                id="usernameBlocked"
                formControlName="editUsername"
            >
            <small class="form-text text-muted">You can't change your username here.</small>
        </div>
        <div class="form-group">
            <label for="editAddress">Address</label>
            <input 
                type="text" 
                class="form-control" 
                id="editAddress" 
                placeholder="Address"
                formControlName="editAddress"
            >
            <p *ngIf="!editUserForm.get('editAddress').valid && editUserForm.get('editAddress').dirty">
                <i class="fa fa-times"></i>
                <span class="help-message" *ngIf="editUserForm.get('editAddress').errors['pattern']">Please avoid special characters.</span>
            </p> 
        </div>
        <button type="submit" class="btn update-btn" [disabled]="!editUserForm.valid">Update</button>
    </form>
</div>

<!-- ==========================================
    Modal Dialog - choose profile image 
=============================================== -->
<ng-template #content let-c="close" let-d="dismiss">
     <div class="modal-header">
        <h4 class="modal-title">Choose Profile Image</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body col-md-12">
        <div class="row">
            <div class="profile-img-container" *ngFor="let img of userImgs | paginate: { itemsPerPage: 7, currentPage: p }; let i=index">
                <img [src]="img" alt="image" class="img-fluid profile-img" (click)="getImgPath(img); c('Close click')">
            </div>
            <div class="profile-img-container">
                 <img [src]="'/images/avatar-profile.png'" alt="image" class="img-fluid profile-img" (click)="getAvatarImg(); c('Close click')">
            </div>
            <div class="pagination-me" *ngIf="userImgs.length > 7">
                <pagination-controls
                    (pageChange)="p = $event"
                    previousLabel= ""
                    nextLabel=""
                ></pagination-controls>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>